<!DOCTYPE html>
<html lang="en">
	<head>
		<%-include('../partials/head')%>
		<title>DSS App - Case Study</title>
	</head>
	<body>
		<div class="app">
			<%-include('../components/navbar')%>
			<main id="main">
				<%-include('../components/nav-burger-button')%>
				<%-include('../components/breadcrumb')%>
				<div class="card p-5 mt-4">
					<h6>Latar Belakang</h6>
					Perusahaan ABC merupakan perusahaan yang bergerak di bidang pangan dan
					memiliki kebutuhan untuk membeli laptop sebagai bagian dari inventaris
					perusahaan, khususnya untuk digunakan oleh pegawai desain grafis.
					Pengadaan laptop ini penting untuk mendukung pekerjaan kreatif dan
					desain grafis yang dilakukan oleh para pegawai. Laptop yang tepat akan
					membantu meningkatkan produktivitas dan kualitas karya desain grafis
					yang dihasilkan. Oleh karena itu, perusahaan perlu melakukan analisis
					yang tepat untuk memastikan bahwa laptop yang dipilih sesuai dengan
					kebutuhan para pegawai desain grafis dan memenuhi standar kualitas
					yang diinginkan.

					<h6 class="mt-4">Studi Kasus</h6>
					Perusahaan ABC memiliki sejumlah kriteria yang harus dipertimbangkan
					dalam proses pembelian laptop untuk inventaris perusahaan bagi pegawai
					desain grafis. Kriteria tersebut antara lain adalah sebagai berikut:

					<ul></ul>
					<ol>
						1. RAM (Random Access Memory): Kapasitas RAM yang lebih besar akan
						memungkinkan laptop untuk menjalankan berbagai aplikasi desain
						grafis dengan lancar dan efisien.
					</ol>
					<ol>
						2. ROM (Read-Only Memory): Kapasitas ROM yang cukup untuk menyimpan
						berbagai program dan file desain grafis.
					</ol>
					<ol>
						3. Ukuran Layar: Ukuran layar laptop yang sesuai dengan kebutuhan
						desain grafis untuk kenyamanan dan akurasi tampilan visual.
					</ol>
					<ol>
						4. Berat: Laptop yang ringan akan memudahkan mobilitas para pegawai
						desain grafis saat bekerja di berbagai lokasi.
					</ol>
					<ol>
						5. Harga: Kisaran harga laptop yang sesuai dengan anggaran
						perusahaan dan tetap memperhatikan kualitas dan performa yang baik.
					</ol>
					<ol>
						6. Processor: Processor yang bertenaga untuk menangani tugas-tugas
						desain grafis yang kompleks dengan cepat.
					</ol>
					<ol>
						7. VGA (Video Graphics Array): Kapasitas VGA yang memadai untuk
						mendukung rendering grafis dan tampilan visual yang berkualitas.
					</ol>
					<ol>
						8. Tahun: Tahun rilis laptop menunjukkan tingkat kebaruan dan
						tingkat kemajuan teknologi yang relevan untuk desain grafis.
					</ol>

					<p>
						Metode TOPSIS akan digunakan untuk melakukan analisis SPS (Simple
						Additive Weighting) guna menilai dan memilih laptop terbaik
						berdasarkan kriteria-kriteria di atas. Pada langkah pertama, data
						dari berbagai alternatif laptop yang akan dibeli akan dikumpulkan
						untuk setiap kriteria yang relevan.
					</p>

					<p>
						Setelah data dikumpulkan, langkah-langkah metode TOPSIS akan
						dilakukan untuk menormalisasi data, mengalikan dengan bobot, mencari
						solusi ideal positif dan negatif, menghitung jarak solusi ideal, dan
						menghitung nilai preferensi. Laptop dengan nilai preferensi
						tertinggi akan dipilih sebagai alternatif terbaik yang akan dibeli
						oleh perusahaan untuk inventaris pegawai desain grafisnya.
					</p>

					<p>
						Hasil dari analisis menggunakan metode TOPSIS akan memberikan
						rekomendasi laptop dengan nilai preferensi tertinggi yang paling
						sesuai dengan kebutuhan dan kriteria pegawai desain grafis
						perusahaan. Dengan demikian, perusahaan dapat memastikan bahwa
						pembelian laptop inventaris dilakukan dengan bijaksana dan efisien
						untuk mendukung pekerjaan desain grafis para pegawai secara optimal.
					</p>
				</div>
			</main>
		</div>
		<%-include('../partials/footer')%>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
x
